%html
  %head
    %title= h 'Tiny Maze Speedrun'
    %link{ href: relative_path_to(item_with_identifier '/css/manifest/') + '?' + Time.now.to_i.to_s, rel: 'stylesheet' }
    %script{ src: relative_path_to(item_with_identifier '/js/manifest/') + '?' + Time.now.to_i.to_s, type: 'text/javascript' }
  %body
    #container
      #cr-stage
