%html
  %head
    %title= h 'TinyMazeSpeedrun'
    %link{ href: relative_path_to(item_with_identifier '/css/manifest/'), rel: 'stylesheet' }
    %script{ src: relative_path_to(item_with_identifier '/js/manifest/'), type: 'text/javascript' }
  %body
    #cr-stage
